.comment-container{
  width: 80vw;
  margin-left: 10vw;
}

.toolbar{
  display: flex;
  align-items: center;
	justify-content: space-between;
}

.comment{
  display: block;
  width: 100%;
  overflow: hidden;
  resize: both;
}