.aboutme-container{
  min-height: calc(80vh - 10px) ;
}
.block{
  border: 2px solid #094183;
  border-radius: 1pc;
  display: flex;
  flex-direction: row;
  
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10vw;
  margin-right: 10vw;
  width: 80vw;
}
.blockWord{
  padding: 5px;
  width: 50%;
  height: 100%;
}
.blockPhoto{
  padding: 5px;
  width: 50%;
  height: 100%;
}

@media only screen and (max-width:500px) {
  /* For mobile phones: */
  .block{
    flex-direction: column;
  }
  .blockWord{
    width: calc(100% - 10px);
  }
  .blockPhoto{
    width: calc(100% - 10px);
  }

  .row_life{
    flex-direction: column;
  }
  .word_life{
    width: 100%;
  }
  .photo_life{
    width: 100%;
    margin-right: 0px;
    margin-bottom: 20px;
  }
}