.audio{
  margin-top: 20px;
  margin-bottom: 10px;
  display:flex;
  align-items: center;
  width: 100%;
	// justify-content: center;
}

.figures{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.figuresGrid{
  display: grid;
  grid-template-columns: 1fr ;
  grid-gap: 10px;
  width: 100%;
  img{
    width: 100%;
  }
}

.figure{
}

.greeting{

}
.figuresWord{

}
.videoWord{

}
.videoContent{

}
.vicpride{

}

.videos{
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  video{
    width: 100%;
  }
}

// @media only screen and (max-width:500px) {
//   .figuresGrid{
//     grid-template-columns: 1fr;
//     width: 90;
//   }
//   .videos{
//     width: 90%;
//     video{
//       width: 100%;
//     }
//   }
// }


@media only screen and (max-width:500px) {
  // .vicpride{
  //   display: flex;
  //   flex-direction: column;
  // }

  .greeting{
    width: 100%;
    height: 100%;
  }
  .audio{
    width: 100%;
    height: 100%;

  }
  .figuresWord{
    width: 100%;
    height: 100%;

  }
  .videoWord{
    width: 100%;
    height: 100%;

  }
  .videoContent{
    width: 100%;
    height: 100%;

  }
  .figuresGrid{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

  }
  .figure{
    width: 100%;
    height: 100%;

  }

  .videos{
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .videoWord{
    width: 100%;
    height: 100%;
  }

  .videoContent{
    width: 90%;
    height: 100%;

  }


}